<ion-view view-title="Bio">
<ion-content>
<div class="list card">
  <div class="item item-body">
    <div class="row">
      <div class="col col-50">
        <img class="full-image" src="img/nora1.jpg">
      </div>
      <div class="col col-50">
      <span>
        Your leader in this celebration of Tango is Nora Olivera, a 40 year ambassador of Argentine dance.
      </span>
      </div>
   </div>
      <div class="row">
      <div class="col col-100">
      <span>
          She helped to preserve her culture and art form in the Bay Area and she continues to foster cultural collaboration and understanding by exposing North and South Americans to each other through the eternal art of Argentine Tango. Nora’s Tango Week is the crown jewel of Nora’s cultural mission – to preserve and energize the art of Tango across borders and generations.
      </span>
      </div>
      </div>
  </div>
</div>
</ion-content>
</ion-view>