<ion-view view-title="Home">
<ion-content>
<div class="list card">
  <div class="item item-body">
    <div class="row">
      <div class="col col-100">
    <h2>
    At Nora’s Tango Weekend you will dance, learn, and work with some the finest talent of Buenos Aires and beyond, teachers and h2erformers steeped in Argentine Tango, from the classes to the milonga floor of your favorite orchestras.
    </h2>
    <img class="full-image" src="img/NTW-Yuling.jpg">
    <h2>
     Choose from fifteen classes and seminars from morning to evening and learn the length and breadth of the historic art of Tango.
    </h2>
  </div>
   </div>
  </div>
</div>
<div class="list card">
  <div class="item item-body">
    <div class="row">
      <div class="col col-100">
        <h2>
          Learning is not limited to the milonga – take part in daily Chamuyos to listen to each of our Instructor’s history and experiences on Tango and related topics, listen to the music of Seth Asarnow y su Sexteto Tipico on Friday 7/3 & Saturday 7/4, engage in daily public workshops and let loose on the dance floor with DJs, a world class band playing authentic Argentine Tango music and exhibitions late into the night.
        </h2>
        <img class="full-image" src="img/Seth-Asarnow-Band-300x200.jpg">
      </div>
    </div>
  </div>
</div>
<div class="list card">
  <div class="item item-body">
    <div class="row">
      <div class="col col-100">
        <img class="full-image" src="img/NTW-Poster-1024x427.jpg">
        <h2>
          Our instructors are couples steeped in traditional Argentine Tango. Taken together, their performance and teaching spans the globe from the Caribbean to the Orient and of course, always, back home to Argentina.
        </h2>
        <h2>
          Feel youthful passion as easily as bounteous wisdom from Nora’s thoughtfully curated lineup of teachers. Their knowledge will help you to seize your deepest passions and feel the warmth of the Tango embrace like never before.
        </h2>
      </div>
    </div>
  </div>
</div>
</ion-content>
</ion-view>