<ion-view view-title="Hotels & Lodging">
<ion-content>
<div class="list card">
  <div class="item item-body">
    <div class="row">
      <div class="col col-100">
    <h2>
    The San Francisco Airport Marriott Waterfront Hotel in Marriott Room Burlingame, CA is just minutes from the San Francisco International Airport and 15 miles from downtown San Francisco.
    </h2>
    <img class="full-image" src="img/hotel1.jpg">
    <h2>
     Offering a great location with great views of the San Francisco Bay to all types of travelers, this superb San Francisco Airport hotel features 685 guestrooms including 24 luxurious suites.
    </h2>
  </div>
   </div>
  </div>
</div>

</ion-content>
</ion-view>